name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip'
      - name: Install Dependecies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
  
      - name: Run Ruff Check
        run: ruff check backend/

      - name: Run Ruff Format
        run: ruff format --check backend/

      - name: Run Pytest
        working-directory: ./backend
        run: pytest
        
